@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

.row.full-width {
    width: 100%;
    max-width: 100%;
}

.theme-top-bar{
	border-bottom:solid 3px $theme-top-bar-border-color;
}

//.theme-top-bar-section li a{
//	border-bottom:solid 3px $theme-top-bar-border-color;
//}

.theme-top-bar-section li.has-dropdown a{
	border-bottom: none;
}

.theme-top-bar-section li:not(.has-form) a:not(.button){
	line-height:3.3rem;
}

.theme-top-bar-section li.active:not(.has-form) a:not(.button){
	line-height:3.3rem;
}

.theme-top-bar-section ul li:hover:not(.has-form)>a{
	background: $theme-blue;
}

.theme-top-bar-section li:not(.has-form) a:not(.button):hover{
	background: $theme-blue;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
	background: $theme-blue;
}

.theme-top-bar-section .has-form{
	height:3.2rem;
}

.search-input{
	border-color:$white!important;
	background: $white;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;

}

.search-button{
	background: $white;
	color: $theme-blue;
	border:none;
}

.search-button:hover{
	color: $white;
}


/*
* ===================================================================
* MENU-BUTTON
*/
.theme-menu-button {
	$button-radius: 4px;
	$button-round: 4px;
	@include button;
	font-size: rem-calc(30);
	@include button(rem-calc(10), $theme-blue, $radius:2px);
}

.theme-menu-dropdown{
  background: #4B5C77;
  @include radius(3px);
  top: 40px!important;
  &:before{border-color: transparent transparent #4B5C77 transparent;}
  border-bottom: 2px solid $theme-border;
  li {
  		&:hover { &:hover {background: #5E7393 }}
  		background: #4B5C77;
  		border-bottom: 1px solid #3A485D;
  		a {color: $white;
  			text-transform:uppercase;
  			i {
  				margin-right:10px;
  			}
  		}
  }
  li.has-dropdown{
          ul.dropdown{
            display:none;
            list-style:none;
          }
          &:hover{
            ul.dropdown{
              display:block
            }
          }
      }
}


/*
* ===================================================================
* BUTTONS
*/
.theme-button-tiny {
	@include button($button-tny, $theme-color-active-button, $radius:3px);
  border-bottom: solid #3A485D 2px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-tiny.gray{
  @include button($button-tny, $theme-gray, $radius:3px);
  color: $white;
  border-bottom: solid #A0A8A9 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-tiny.yellow{
  @include button($button-tny, #FFB845, $radius:3px);
  color: $white;
  border-bottom: solid #D7A148 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-tiny.green{
  @include button($button-tny, #35DBBB, $radius:3px);
  color: $white;
  border-bottom: solid #2EBDA1 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-tiny.red{
  @include button($button-tny, #FF6D80, $radius:3px);
  color: $white;
  border-bottom: solid #DF6071 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-small {
	@include button($button-sml, $theme-color-active-button, $radius:3px);
  border-bottom: solid #3A485D 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-small.gray{
  @include button($button-sml, $theme-gray, $radius:3px);
  color: $white;
  border-bottom: solid #A0A8A9 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-small.yellow{
  @include button($button-sml, #FFB845, $radius:3px);
  color: $white;
  border-bottom: solid #D7A148 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-small.green{
  @include button($button-sml, #35DBBB, $radius:3px);
  color: $white;
  border-bottom: solid #2EBDA1 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-small.red{
  @include button($button-sml, #FF6D80, $radius:3px);
  color: $white;
  border-bottom: solid #DF6071 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-large {
	@include button($button-lrg, $theme-color-active-button, $radius:3px);
  border-bottom: solid #3A485D 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-large.gray{
  @include button($button-lrg, $theme-gray, $radius:3px);
  color: $white;
  border-bottom: solid #A0A8A9 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-large.yellow{
  @include button($button-lrg, #FFB845, $radius:3px);
  color: $white;
  border-bottom: solid #D7A148 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-large.green{
  @include button($button-lrg, #35DBBB, $radius:3px);
  color: $white;
  border-bottom: solid #2EBDA1 3px;
  font-weight:bold;
  text-transform: uppercase;
}

.theme-button-large.red{
  @include button($button-lrg, #FF6D80, $radius:3px);
  color: $white;
  border-bottom: solid #DF6071 3px;
  font-weight:bold;
  text-transform: uppercase;
}



/*
* ===================================================================
* MESSAGES
*/
.theme-alert-success {
  @include radius(3px);
  @include alert($bg: #54E6CA, $radius: true);
  border-bottom:3px solid #2EBDA1;
  font-size: rem-calc(20);
  font-weight:bold;
  font-family: $body-font-family;
  color: $white;
  .close {
    @include alert-close();
    background:$white;
    @include radius(20px);
    opacity:0.7;
    height:22px;
    color: #54E6CA;
  }
  &.alert-close {
    opacity: 0;
  }
}

.theme-alert-error {
  @include radius(3px);
  @include alert($bg: #FF6D80, $radius: true);
  border-bottom:3px solid #DF6071;
  font-size: rem-calc(20);
  font-weight:bold;
  font-family: $body-font-family;
  color: $white;
  .close {
    @include alert-close();
    background:$white;
    @include radius(20px);
    opacity:0.7;
    height:22px;
    color: #FF6D80;
  }
  &.alert-close {
    opacity: 0;
  }
}

/*
* ===================================================================
* MODAL
*/
.theme-reveal-modal {
   @include reveal-modal-base(
    // Provides reveal base styles, can be set to false to override.
    $base-style:true,
    // Sets reveal width Default: $reveal-default-width or 80%
    $width:$reveal-default-width
  );
  @include reveal-bg();
  @include reveal-modal-style(
    $bg:$reveal-modal-bg,
    // Set reveal border style. Default: $reveal-border-style or solid
    $border:true,
    // Width of border (i.e. 1px). Default: $reveal-border-width.
    $border-style:$reveal-border-style,
    // Color of border. Default: $reveal-border-color.
    $border-width:$reveal-border-width,
    // Color of border. Default: $reveal-border-color.
    $border-color:$reveal-border-color,
    // Choose whether or not to include the default box-shadow. Default: true, Options: false
    $box-shadow:true,
    // Default: $reveal-position-top or 50px
    $top-offset:$reveal-position-top
  );
  @include reveal-close(
    $color:$reveal-close-color
  );
  .close-reveal-modal {
  	top: 0.5rem;
	  right: 1.22222rem;
	  position: absolute;
    line-height: 25%;
  }
  h3{
  	background: $theme-gray;
  	@include radius(3px);
  	font-family: $body-font-family;
  	text-transform: uppercase;
  	color: $white;
  }
}


/*
* ===================================================================
* FORMS
*/
input[type="text"].theme-input{
  height: 31px;
  @include radius(3px);
  font-family: $body-font-family;
  font-weight:bold;
  font-size:17px;
  color: $theme-gray;
  border-color: $theme-gray;
}

input[placeholder].theme-input{
  color: $theme-gray;
}

::-webkit-input-placeholder{
  color: $theme-gray;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $theme-gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $theme-gray;
   opacity:  1;
}
:-ms-input-placeholder{
  color: $theme-gray;
}

select.theme-input{
  height: 31px;
  @include radius(3px);
  font-family: $body-font-family;
  font-weight:bold;
  font-size:17px;
  color: $theme-gray;
  border-color: $theme-gray;
  padding:2px 5px;
}

textarea.theme-input{
  @include radius(3px);
  font-family: $body-font-family;
  font-weight:bold;
  font-size:17px;
  color: $theme-gray;
  border-color: $theme-gray;
}

.postfix{
  height:31px;
  @include radius(3px);
}

input[type="submit"]{
  border-radius: 3px;
}

/*
* ==================================================================
* TABS
*/

.tabs dd.active{
  border-bottom-color: #475771;
  // border-top-color: $theme-color-active-button;
  // border-left-color: $theme-color-active-button;
  // border-right-color: $theme-color-active-button;
}


.tabs dd{
  margin-left:1px;
  border-style:solid;
  border-bottom-color: #B9BFC1;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width:0px;
  font-weight:bold;
}

.tabs dd > a, .tabs .tab-title>a {
  padding:4px 20px;
}

// .tabs dd>a:hover, .tabs .tab-title>a:hover{
//   border-top-color: $theme-color-active-button;
//   border-left-color: $theme-color-active-button;
//   border-right-color: $theme-color-active-button;
// }

/*
* ===================================================================
* BREADCRUMB
*/
$crumb-padding: rem-calc(11 18 11);
.theme-breadcrumb{
  @include radius(3px);
  background-color: $theme-blue!important;
  @include crumb-container;
  li {
    @include crumbs;
    &:before{
      color: $white!important;
    }
    a{
      color: $white!important;
    }
  }
}

/*
* ===================================================================
* BREADCRUMB
*/
table.fc-agenda-slots{
  background: none!important;
  margin-bottom: 0;
  border: none;
  table-layout: auto;
}

table.fc-header{
  background: none!important;
  margin-bottom: 0;
  border: none;
  table-layout: auto;
}

table tr.fc-minor {
  background: none;
}



/*
* ======================================================================
* ERROR MESSAGE VALIDATION
*/
small.error-left{
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: #FFFFFF;
  float:left
}
